
<form id="form" action="/signup-jobseeker" method="POST">

  {{!-- <input type="radio" id="job_seeker" name="accountType" value="Job_seeker">
  <label for="job_seeker">Job seeker</label> --}}

   
<br>
  <label for="username">Username</label><br>
  <input type="text" name="username" />
<br>
  <label for="email">E-mail</label><br>
  <input type="text" name="email" />
<br>
  <label for="password">Password</label><br>
  <input type="password" name="password" />
<br>
  <label for="firstName">First name</label><br>
  <input type="text" name="firstName" />
<br>
    <label for="lastName">Last name</label><br>
  <input type="text" name="lastName" />
<br>
    <label for="location">Location</label><br>
  <input type="text" name="location" />
<br>
    <label for="picture">Add picture</label><br>
  <input type="file" name="addPicture" />
<br>
 
    <label for="resume">Add your resume</label><br>
  <input type="file" name="addResume" />

<br>
  <button type="submit">Sign up!</button>
</form>

{{! error message display: }}

{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}