<h1>{{title}} 🚀</h1>
<p>Welcome to the Job board for casual work opportunities!</p>
<p>Join us today!</p>
<a href="/signup-jobseeker">I am looking for a job</a>
<a href="/signup-employer">I am looking for employees</a>
<br>
<p>You are our user already? <a href="/login">Click here!</a>
<p>Check your <a href="/my-profile" >profile</a> </p>

