<br />
<form action="/jobs/add-job" method="POST">
  <div class="form-floating mb-3" style="width: 25rem;">
    <input
      type="text"
      name="position"
      class="form-control"
      id="floatingInput"
      placeholder="Position"
    />
    <label for="username"></label>
  </div>

  <div class="form-floating mb-3" style="width: 25rem;">
    <input
      type="text"
      name="location"
      class="form-control"
      id="floatingInput"
      placeholder="Location"
    />
    <label for="firstName"></label>
  </div>
  <div class="form-floating mb-3" style="width: 25rem;">
    <input
      type="text"
      name="description"
      class="form-control"
      id="floatingInput"
      placeholder="Description"
    />
    <label for="lastName"></label>
  </div>
  <div class="form-floating mb-3" style="width: 25rem;">
    <input
      type="text"
      name="companyName"
      class="form-control"
      id="floatingInput"
      placeholder="Company name"
    />
    <label for="companyName"></label>
  </div>

  <div class="form-floating mb-3" style="width: 25rem;">
    <input
      type="Number"
      name="wage"
      class="form-control"
      id="floatingInput"
      placeholder="Salary"
    />
    <label for="picture"> </label>

    <P>Remote</P>
    <input type="radio" id="true" name="remote" value="true" />
     
    <label for="true">true</label>
    <input type="radio" id="false" name="remote" value="false" />
     
    <label for="false">false</label>

  </div>

  <a href="/"><button type="submit" class="btn btn-secondary">Post a Job</button></a>
</form>