<form action="/edit-job" method="POST">
  <br />
  <label>Position:</label>
  <input type="text" name="position" />

  <br />
  <label>Location:</label>
  <input type="text" name="location" />

  <br />
  <label>Wage: </label>
  <input type="number" name="wage" />

  <br />
 
   <br />
  <label>Description: </label>
  <input type="text" name="description" />
   <br />
  <select name="type of" multiple>
    <option value="remote">Remote</option>
    <option value="office">Office</option>
 

  <br />
  <button type="submit">Add a job</button>
</form>