<h2>JOB FUCKINNNN PANEL </h2>

{{#each foundedAll}}

  <div style="border: 1px solid black; padding: 20px">

    <p>{{this.position}}</p>
    <p>{{this.location}}</p>
    <p>{{this.wage}}</p>

{{/each}}


