<br />
<h4>My Job Panel </h4>
<hr />
<br />

{{#each foundedAll}}
  <div class="m-2 card">
    <div class="card-body">
      <h5 class="card-title">{{this.position}}</h5>

      <h6 class="card-subtitle mb-2 text-muted">{{this.location}}</h6>
      {{#if this.remote}}
        <h6 class="card-subtitle mb-2 text-muted">Remote</h6>
      {{/if}}
      <a href="/jobs/{{this._id}}/details" class="btn btn-secondary">Tell me
        more</a>
      <a href="/jobs/{{this._id}}/edit-job" class="btn btn-secondary">Edit</a>
    </div>
  </div>
{{/each}}